
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<p class="text-center">Đơn hàng của quý khách đã được ghi nhận, chúng tôi sẽ liên hệ với quý khách để xác nhận đơn hàng sớm nhất.</p>

