

#menu {
    float: left;
    width: 100%;
}

#footer {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    background-color: aqua;
}

#content {
    width: 100%;
    height: 80%;
}

.a {
    text-decoration: none;
}

    .a:focus {
        outline: none;
        text-decoration: none;
    }

    .a:active,
    .a:hover {
        background-color: #00F;
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
